.Payment-header{
    height: 100vh;
    width: 100%;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Payment-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.Payment-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 60vh;
    width: 75vh;
    margin-top: 7vh;
}
.Payment-cardno{
    padding: 1.5vmin;
    width: 50vh;
    background-color: transparent;
    margin: 2vmin;
}
.Payment-monthyear{
    margin-top: 2vmin;
    padding: 1.5vh;
    width: 15vh;
    margin-right: 2vmin;
}
.Payment-cvv{
    margin-top: 2vmin;
    padding: 1.1vmin;
    width: 17vh;
    background-color: transparent;
}
.Payment-submit{
    padding: 1.5vmin;
    height: 1.5vh;
    width: 50vh;
    border-radius: 1vmin;
    border-width: 0.4vmin;
    border-style: solid;
    border-color: blueviolet;
    background-color: blueviolet;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-top: 3vmin;
    margin-left: 10.5vmin;
    margin-bottom: -10vmin;
  }
.Payment-card{
    position: absolute;
    top: 8vh;
    height: 30vh;
}



